apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secrets
  namespace: nextcloud
type: Opaque
stringData:
  admin-user: admin
  admin-password: NextCloud-Admin-2026!
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud
  template:
    metadata:
      labels:
        app: nextcloud
    spec:
      containers:
        - name: nextcloud
          image: nextcloud:32-apache
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: 128Mi
              cpu: 10m
            limits:
              memory: 512Mi
              cpu: 500m
          env:
            - name: POSTGRES_HOST
              value: "nextcloud-cluster-rw.nextcloud.svc.cluster.local"
            - name: POSTGRES_DB
              value: "nextcloud"
            - name: POSTGRES_USER
              value: "nextcloud"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-db-secret
                  key: password
            - name: NEXTCLOUD_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: admin-user
            - name: NEXTCLOUD_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: admin-password
            - name: NEXTCLOUD_TRUSTED_DOMAINS
              value: "nextcloud.leotsgo.dev"
            - name: OVERWRITEPROTOCOL
              value: "https"
            - name: OVERWRITEHOST
              value: "nextcloud.leotsgo.dev"
            - name: REDIS_HOST
              value: "nextcloud-redis.nextcloud.svc.cluster.local"
            - name: PHP_MEMORY_LIMIT
              value: "256M"
            - name: PHP_UPLOAD_LIMIT
              value: "512M"
          volumeMounts:
            - name: nextcloud-data
              mountPath: /var/www/html
      volumes:
        - name: nextcloud-data
          persistentVolumeClaim:
            claimName: nextcloud-data
